body {
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Poppins', sans-serif;

}

/*Contenitore trasparente*/
.contenitoretrasparente {
  background-color: rgba(0, 0, 0, 0.5);
  width: 65%;
  border-radius: 25px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 75px;
  padding-right: 75px;
}

/*Logo*/
header > img {
  width: 200px;
  display: block;
  margin: auto;

}

/*Titolo*/
header > h1 {
  color: #00dd00;
  text-align: center;
}

/*Bottoni azioni*/
.bottoni {
  background-color: #00dd00;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 21.44px;

}

/* Contenitore nomi e stato batterie*/
main {
  width: 100%;

}

/*Titoli monopattini */

main span {
  color: white;
  font-size: 25px;
}

/*Sottotitoli monopattini*/

main div {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

/*Stato Batterie Monopattini*/

#BatteriaGino22 {
  width: 350px;
  height: 30px;
  background-color: #f5b453;
  border-radius: 5px;
  margin-bottom: 21.44px;

}

#BatteriaMike24 {
  width: 550px;
  height: 30px;
  background-color: #1ec31e;
  border-radius: 5px;
  margin-bottom: 21.44px;


}

#BatteriaFede154 {
  width: 150px;
  height: 30px;
  background-color: #be4141;
  border-radius: 5px;
  margin-bottom: 21.44px;

}
